:root {
  --primary-color: #ff76cf;
  --primary-hover-color: #ff4ebc;
  --background-color: #f7f7f7;
  --text-color: #333;
  --navbar-bg-color: #c76fb79b;
  --link-hover-color: #cd00a0;
  --link-underline-color: #ff0cebdb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #ffffff;
}

html::-webkit-scrollbar-thumb {
  background: #ff76cf;
}

.header-inner-content {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  background-color: #e9a5d1;
  padding: 1rem;
  position: relative;
  padding: 30px 0;
  width: 100%;
  top: 0;
  z-index: 99;
}

.navbar > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  position: relative;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 140%;
  padding: 30px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.95);
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar ul li a:hover {
  color: var #cd00a0;
}

.navbar ul li {
  position: relative;
}

.navbar ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--link-underline-color);
  transition: width 0.3s;
  position: absolute;
  bottom: -30px;
  left: 0;
}

.navbar ul li a:hover::after {
  width: 100%;
}

.nav-icon-container {
  display: flex;
  align-items: center;
}

.nav-icon-container img {
  width: 30px;
  cursor: pointer;
}

.nav-icon-container img:first-child {
  margin-right: 1rem;
}

.menu-button {
  display: none;
}

.logo {
  font-size: 2em;

  color: var(--text-color);

  text-align: center;

  text-shadow: 9px 9px 9px rgba(0, 0, 0, 0.5);
  font-weight: bold;

  margin-top: 30px;
}

.logo span {
  color: var(--primary-color);
  text-shadow: 9px 9px 9px rgba(0, 0, 0, 0.5);

  font-weight: bold;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  flex: 1;

  padding: 60px;
}

.login-section {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  height: 60vh;

  padding-top: 100px;
}

.login {
  background-color: #fff;
  padding: 40px 30px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.9);
  border-radius: 15px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.login p {
  margin-bottom: 20px;
  font-size: 1.2em;
  color: #000000;
}

.login label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}

.login input[type="email"],
.login input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  border: 2px solid #ada9a9;
  border-radius: 8px;
  font-size: 1em;
  transition: border-color 0.3s;
}

.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #cd00a0;
  outline: none;
}

.login input[type="submit"] {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 15px 190px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s, transform 0.3s;
}

.login input[type="submit"]:hover {
  background-color: #cd00a0;
  transform: translateY(-2px);
}

.g-recaptcha {
  margin: 10px 50px;
}

/* Ajuste da logo para responsividade */
@media (max-width: 768px) {
  .login {
      padding: 30px 20px;
      /* Reduz o padding em telas menores */
  }

  .login input[type="submit"] {
      padding: 15px 100px;
      /* Ajusta o padding do botão em telas menores */
  }
  
  .navbar {
      position: fixed;
  }

  /* Exibição do botão do menu em telas menores */
  .menu-button {
      display: block;
  }

  /* Estilos para o menu de navegação em telas menores */
  nav {
      position: fixed;
      background-color: #2c2c2c;
      width: 100%;
      top: 47px;
      display: none;
      font-size: 12px;
  }

  .navbar ul li a::after{
      display: none;
  }

  /* Exibição do menu de navegação quando ativado */
  .show-menu nav {
      display: block;
      background-color: #dfa4d0;
      margin-top: 40px;
  }

  /* Ajustes para a lista de navegação */
  nav ul {
      flex-direction: column;
  }

  /* Ajustes para os itens da lista de navegação */
  nav ul li {
      text-align: center;
      padding: 1.8rem;
  }

  .g-recaptcha {
    margin: 10px 50px;
  }
}

/* Ajuste da logo para responsividade */
@media (max-width: 530px) {
  .g-recaptcha {
    margin: 10px 10px;
  }
}

@media (max-width: 400px) {
  .g-recaptcha {
    margin: 10px -40px;
  }

  .login input[type="submit"] {
    padding: 15px 70px;
    /* Ajusta o padding do botão em telas menores */
}
}