html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #ffffff;
}

html::-webkit-scrollbar-thumb {
  background: #ff76cf;
}
:root {
  --primary-color: #ff76cf;
  --primary-hover-color: #ff4ebc;
  --background-color: #f7f7f7;
  --text-color: #333;
  --navbar-bg-color: #c76fb79b;
  --link-hover-color: #cd00a0;
  --link-underline-color: #ff0cebdb;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header-inner-content {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
  background-color: var(--navbar-bg-color);
  padding: 1rem;
  position: relative;
  padding: 30px 0;
  width: 100%;
  top: 0;
  z-index: 99;
}
.navbar > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  position: relative;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  display: inline;
  margin: 0 10px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 140%;
  padding: 30px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.95);
  transition: color 0.3s ease, background-color 0.3s ease;
}
.navbar ul li a:hover {
  color: var(--link-hover-color);
}
.navbar ul li {
  position: relative;
}
.navbar ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--link-underline-color);
  transition: width 0.3s;
  position: absolute;
  bottom: -30px;
  left: 0;
}
.navbar ul li a:hover::after {
  width: 100%;
}
.nav-icon-container {
  display: flex;
  align-items: center;
}
.nav-icon-container img {
  width: 30px;
  cursor: pointer;
}
.nav-icon-container img:first-child {
  margin-right: 1rem;
}
.menu-button {
  display: none;
}

.header-bottom-side {
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 1rem;
  background-image: url(../img/esteticawallpaper.png);
  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;

  height: 100vh;

  width: 100%;

  margin: 0;

  overflow: hidden;

  box-shadow: 0 2px 5px rgba(118, 118, 118, 0.95);
}
.header-bottom-side-left {
  height: 100%;
  flex-basis: 50%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-bottom-side-left h2 {
  font-size: 3.2rem;
  margin-bottom: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ffffff;
}
.header-bottom-side-left button {
  background-color: #ff76cf50;
  border: none;
  cursor: pointer;
  padding: 0.8rem;
  color: aliceblue;
  width: 60%;
  font-size: 20px;
  transition: background-color 0.3s ease;
  margin-top: 1.5rem;
}
.header-bottom-side-left button:hover {
  background-color: #5a2b49;
}
.header-bottom-side-left p {
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ffffff;
  font-size: 130%;
}

span[id="css-negrito"] {
  font-weight: bold;
  color: rgb(34, 34, 34);
}
span[id="whatsapp"] {
  color: rgb(44, 155, 49);
  font-weight: bold;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  padding: 1rem;
}

.procedimentos-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  background-color: #fffcfd;
}

.procedimentos-card {
  width: calc(50% - 20px);
  max-width: 400px;
  background-color: #ffffff;
  border: 2px solid #ffaadf;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px;
}

.procedimentos-card img {
  max-width: 80%;
  border-radius: 12px;
  margin-bottom: 20px;
}

.procedimentos-card .produto-info {
  margin-bottom: 15px;
}

span[id="produto-name"] {
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #d120a5;
}

span[id="preco"] {
  font-size: 1.2rem;
  color: #428245;
  font-size: 30px;
  font-weight: bold;
}

p[id="desc-produto"] {
  text-align: justify;
}

.procedimentos-card .desc-produto {
  font-size: 1rem;
  line-height: 1.5;
  color: #888;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

#whatsapp-button {
  padding: 12px 24px;
  background-color: #e67acb;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  font-weight: bold;
}

#whatsapp-button:hover {
  background-color: #cd00a0;
}

.search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 100px;
  margin-top: 50px;
}

.search-bar input {
  padding: 20px 30px 10px 70px;
  width: 50%;
  font-size: 16px;
  background: url("../img/lupa.png") no-repeat 10px center;
  background-size: 40px 40px;
  border-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  border-color: #000000;
  color: rgb(0, 0, 0);
  font-size: 25px;
}
.search-bar input::placeholder {
  font-size: 25px;
  color: #0000009b;
}

footer {
  background-color: #c76fb79b;
  color: #ffffff;
  padding: 30px 10px;

  text-align: center;

  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.footer-container {
  display: flex;

  justify-content: space-around;

  flex-wrap: wrap;

  max-width: 1200px;

  margin: 0 auto;

  padding: 20px 0;

  border-top: 2px solid #000000;
}

.footer-container div {
  flex: 1;

  min-width: 250px;

  margin: 10px;

  text-align: center;
}

.footer-container h2 {
  font-size: 1.4em;
  margin-bottom: 15px;
  border-bottom: 2px solid #000000;
  padding-bottom: 10px;
  color: #000000;
  text-align: center;
}

.footer-container p {
  margin: 5px 0;

  font-size: 1em;
}

.footer-container a {
  color: #ffffff;

  text-decoration: none;

  display: inline-block;

  margin: 5px 0;

  transition: color 0.3s, transform 0.3s;
}

.footer-container a:hover {
  color: #852b71;

  text-decoration: underline;

  transform: scale(1.05);
}

.social-icon {
  width: 40px;

  height: 40px;

  background-size: contain;

  margin: 0 20px;

  display: inline-block;

  transition: transform 0.3s;
}

.social-icon:hover {
  transform: translateY(-5px);
}

.social-icon.instagram {
  background-image: url("https://img.icons8.com/ios-filled/50/ffffff/instagram.png");
}

.footer-bottom {
  margin-top: 20px;

  border-top: 1px solid #000000;

  padding-top: 10px;

  font-size: 1.3em;

  color: #000000;
}

.whatsapp-fixo {
  position: fixed;
  right: 3px;
  top: 880px;
}

@media (max-width: 768px) {
  .procedimentos-card {
    width: calc(100% - 20px);
  }
  .footer-container {
    flex-direction: column;

    text-align: center;
  }

  .footer-container div {
    margin: 10px 0;
  }

  .social-icon {
    margin: 5px;
  }
  .navbar {
    position: fixed;
}

/* Exibição do botão do menu em telas menores */
.menu-button {
    display: block;
}

/* Estilos para o menu de navegação em telas menores */
nav {
    position: fixed;
    background-color: #2c2c2c;
    width: 100%;
    top: 47px;
    display: none;
    font-size: 12px;
}

.navbar ul li a::after{
    display: none;
}

/* Exibição do menu de navegação quando ativado */
.show-menu nav {
    display: block;
    background-color: #dfa4d0;
    margin-top: 40px;
}

/* Ajustes para a lista de navegação */
nav ul {
    flex-direction: column;
}

/* Ajustes para os itens da lista de navegação */
nav ul li {
    text-align: center;
    padding: 1.8rem;
}

  .social-icon {
    width: 10px;
    height: 30px;
    margin: 10px 10px;
  }
  .search-bar {
    height: 60px;
  }

  .search-bar input {
    width: 80%;
    padding: 12px 16px 8px 40px;
    font-size: 14px;
    background-size: 25px 25px;
  }

  .search-bar input::placeholder {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .footer-container h2 {
    font-size: 1.2em;
  }

  .footer-container p,
  .footer-container a {
    font-size: 0.9em;
  }
}
